extends layout

block content	
 h1= title
 p Welcome to our test
  // Wrapper
 #wrapper
  // Lift List
  #liftlist
    table
     thead
      th LiftName
      th LiftStatus
      th LiftLineTime
     tbody
    // /liftlist
 // /Wrapper
